<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>Library</h2>
<br>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr th:each="wpis: ${books}">
    <td th:text="${wpis.id}">id</td>
    <td th:text="${wpis.ISBN}">ISBN</td>
    <td th:text="${wpis.title}">Title</td>
    <td th:text="${wpis.author}">Author</td>
    <td th:text="${wpis.publisher}">Publisher</td>
    <td>
      <a href="#" th:href="@{/przekieruj(id=${wpis.id})}" class="btn btn-primary">
        <i class="fa fa-trash-o fa-lg"></i>Aktualizuj
      </a>
    </td>
    <td>
      <form th:action="@{/kasuj}" method="delete">
        <input type="hidden" th:name="id" th:value="${wpis.id}" />
        <button type="submit" class="btn btn-danger">Usuń</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="7">
      <a href="/form" class="btn btn-primary">Dodaj Ksiazke</a>
    </td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <td>Wyszukaj książkę wg autora</td>
    <td>
      <form action="/wyszukaj" method="get">
        <input name="author">
        <input type="submit">
      </form>
    </td>
  </tr>
</table>
</body>
</html>
